@import url(https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap);

body {
  background:  #68564c;
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-page {
  padding: 5% 0 0;
}

.form {
  background: #071f29;
  margin: 0 auto 44px;
  padding: 44px 19px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}
.form .form-input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #937d72;
    color: #071f29;
    width: 100%;
    border: 0;
    border-radius: 70px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #2f374b;
    font-size: 14px;
}

.form .form-input::-webkit-input-placeholder {
  color: #071f29;
}

.form-group p {
  color: #937d72;
}

.radio-btn {
  color: #937d72;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
}

.radio-btn input {
  display: none;
}

.radio-btn .option {
  cursor: pointer;
}

.radio-btn .option::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -13px;
  transform: translateY(-50%);
  height: 23px;
  width: 23px;
  border: 2px solid brown;
  border-radius: 50%;
}

.radio-btn .option::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -9.5px;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: brown;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.6s ease;
}

.radio-btn input:checked ~ .option::before {
  opacity: 1;
}


.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #937d72;
  width: 60%;
  border: 0;
  border-radius: 35px;
  padding: 15px;
  color: #1a2035;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #1a2035;
  color: #fff;
  box-shadow: 4px 0 6px 0px  #68564c;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.login-logo {
  max-width: 200px;
  width: 100%;
  display: inline-block;
}

a.forget-link {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
}









/*

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #202940;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #1a2035;
    color: #fff;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #2f374b;
    font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.login-logo {
  max-width: 200px;
  width: 100%;
  display: inline-block;
}
body {
  background: #1a2035;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.forget-link {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0px;
}

*/




