@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Source+Serif+Pro:400,600,700');

body{
    font-family: 'Poppins', sans-serif;  
}


body {
    position: unset !important;
}

.sidebar .nav-collapse li a .sub-item:before {
    right: -15px;
    left: auto;
}

::-webkit-scrollbar-thumb {
    background: red !important;
    border-radius: 6px !important;
}